<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>武汉大学公寓用电</title>
    <link href="css/style.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/loaders.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <script src="js/jquery.min.js"></script>
    <script src="./mobileframework/widget/js/mobile.js"></script>
    <link href="./mobileframework/mobile.css" rel="stylesheet">
    <script type="text/javascript" src="../../plugin.apis/cordova.js"></script>
    <script type="text/javascript" src="../../plugin.apis/webView.js"></script>

    <script type="text/javascript" src="../../common/js/public.js"></script>
    <script src="js/public.js"></script>
    <script type="text/javascript" src="js/config.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>


    <link href="aui/css/aui.css" rel="stylesheet">
    <link href="css/whu.css" rel="stylesheet">
    <link href="css/weui.css" rel="stylesheet">

    <link href="css/swiper.css" rel="stylesheet">
    <script type="text/javascript" src="js/swiper.js"></script>
    <script type="text/javascript" src="js/weui.js"></script>


    <script type="text/javascript" src="aui/script/aui-tab.js"></script>
    <script type="text/javascript" src="aui/script/aui-dialog.js"></script>
    <script type="text/javascript" src="aui/script/aui-toast.js"></script>

    <script type="text/javascript" src="js/select2.js"></script>
    <link rel="stylesheet" type="text/css" href="css/select2.css"/>

    <style>
        body {
            background-color: #C6E2FF;
        }

        html body {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
        }

        .swiper-slide {
            height: 0px

        }

        .swiper-slide-active {
            height: auto;
        }

        .header {
            width: 100%;
            position: fixed;
        }

        .main {
            width: 100%;
            height: auto;
            position: absolute;
            box-sizing: border-box; /*这里改变盒子模型为怪异盒模型，这样padding值不会增加main的高度*/
        }

        .contentMargin{
            margin-top:4.5rem;
        }


    </style>
</head>

<body>
<div class="aui-content full-screen" style="height: 100%">

    <header class="aui-bar aui-bar-nav header " id="header1"
            style="position: fixed;background-color: #50A0D2;top: 0;left: 0;right: 0;height: 4.5rem">
        <div class="aui-title">
            <div class="aui-bar aui-bar-btn  swiper-nav" id="bar" style="width:100%;">
                <div class="aui-bar-btn-item" v-on:click="tab1Click()" v-bind:class="{'aui-active': index0 }"
                     style="width: 33%">宿舍
                </div>
                <div class="aui-bar-btn-item" v-on:click="tab2Click()" v-bind:class="{'aui-active': index1 }"
                     style="width: 33%">学生
                </div>
                <div class="aui-bar-btn-item " v-on:click="tab3Click()" v-bind:class="{'aui-active': index2 }"
                     style="width: 33%">综合
                </div>

            </div>
        </div>

        <a class="aui-pull-right aui-btn" style="margin-right: .4rem" href="javaScript:gotoSearch()">
            <span class="aui-iconfont aui-icon-search"></span>
        </a>
        <div class="aui-row header" id="menu" onclick="showPicker()"
             style="top: 2.25rem;background-color: #50A0D2;position: fixed;width: 100%;text-align: center;z-index: 100;height: 1.8rem">
            <div id="datePickerDiv" class="aui-col-xs-4"
                 style="border-right: dashed 2px #fff;display: inline-block;height: 2rem;text-align: center;font-size: .8rem">

                <div id="month" style="color: #FFFFFF;height: 60%;"> {{Area}}<i class="aui-iconfont whu-year-arrow"></i>
                </div>
            </div>
            <div class="aui-col-xs-4"
                 style="border-right: dashed 2px #fff;display: inline-block;height: 2rem;font-size: .8rem">
                <div style="color: #FFFFFF;height: 60%">{{Building}}<i class="aui-iconfont whu-year-arrow"></i></div>
            </div>
            <div class="aui-col-xs-4" style="display: inline-block;height: 2rem;font-size: .8rem;">
                <div id="chuzhang" style="color: #FFFFFF;height: 60%">
                    {{Floor}}<i class="aui-iconfont whu-year-arrow"></i>
                </div>
            </div>

        </div>

    </header>

    <div class="m-container swiper-container  swiper-container-h contentMargin"
         style="" id="spContent">
        <div class="swiper-wrapper" id="swiperwapper" >
            <div class="swiper-slide" id="roomPage" style="overflow-y: scroll; ">
                <li class="whu-header" style="height: 1.2rem">
                    {{area}}
                </li>

                <div id="rooms" class="aui-content full-screen ">
                    <ul class="aui-list aui-list-in">
                        <li class="aui-list-item aui-list-item-arrow" v-for="item in roomLists"
                            @click="jumpRoomDetail(item,$event)">
                            <div class="aui-list-item-label-icon">
                                <i class="iconfont icon-fangzi c2 f1"></i>
                            </div>
                            <div class="aui-list-item-inner">
                                <div class="aui-list-item-title">{{item.RoomNum}}</div>
                            </div>
                            <div class="aui-list-item-inner">
                                <div>
                                    <div style="text-align: center;font-size: .6rem;color: #888888">
                                        照明:{{item.zmStatus==0?'正常':item.zmStatus==1?'恶性负载':item.zmStatus==2?'锁定':'故障'}}

                                    </div>
                                    <img v-bind:src="item.zmState==1?'image/switch_on.svg':'image/switch_off.svg'"
                                         id="zmSwitch"
                                         style="width: 2rem;height: 1rem;">
                                </div>
                            </div>
                            <div class="aui-list-item-inner" style="">
                                <div>
                                    <div style="text-align: center;font-size: .6rem;color: #888888">
                                        空调:{{item.ktStatus==0?'正常':item.ktStatus==1?'恶性负载':item.ktStatus==2?'锁定':'故障'}}
                                    </div>
                                    <img v-bind:src="item.ktState==1?'image/switch_on.svg':'image/switch_off.svg'"
                                         id="ktSwitch"
                                         @click="switchKongtiao1(item)"
                                         style="width: 2rem;height: 1rem;">
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>

            </div>

            <div class="swiper-slide full-screen " id="studentPage"
                 style="overflow-y: scroll;">
                <!--<div class="swiper-container swiper-container-v" style="height: 19rem">-->
                <!--<div class="swiper-wrapper">-->
                <!---->
                <!--</div>-->
                <!--<div class="swiper-scrollbar swiper-pagination-v"></div>-->
                <!--</div>-->
                <!--<div class="swiper-slide">-->
                <div id="students" class="aui-content">
                    <ul class="aui-list aui-list-in">
                        <li class="aui-list-item" v-for="item in students" @click="jumpStudetail(item)">
                            <div class="aui-list-item-label-icon">
                                <i class="iconfont icon-xuesheng f1 c2"></i>
                            </div>
                            <div class="aui-list-item-inner aui-list-item-arrow">
                                <div class="aui-list-item-title">{{item.SName}}
                                    <div class="aui-list-item-text">
                                        {{item.Area}}-{{item.Building}}{{item.Unit}}-{{item.RoomNum}}
                                    </div>
                                </div>
                                <div class="aui-list-item-right">{{item.Faculty}}</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--</div>-->
            </div>

            <div class="swiper-slide full-screen  " id="zonghePage"
                 style="overflow-y: scroll;">

                <div class="aui-content">
                    <ul class="aui-list aui-list-in">
                        <li class="whu-header">
                            {{area}}用电状态
                        </li>
                        <li class="aui-list-item" onclick="openUIHistory('VolA','A相电压','V','line')">
                            <div class="aui-list-item-label-icon">
                                <i class="iconfont icon-dianya f1 c2"></i>
                            </div>
                            <div class="aui-list-item-inner aui-list-item-arrow">
                                <div class="aui-list-item-title">A相电压</div>
                                <div class="aui-list-item-right">{{zongheDatas.VolA}}V</div>
                            </div>
                        </li>
                        <li class="aui-list-item" onclick="openUIHistory('VolB','B相电压','V','line')">
                            <div class="aui-list-item-label-icon">
                                <i class="iconfont icon-dianya f1 c2"></i>
                            </div>
                            <div class="aui-list-item-inner aui-list-item-arrow">
                                <div class="aui-list-item-title">B相电压</div>
                                <div class="aui-list-item-right">{{zongheDatas.VolB}}V</div>
                            </div>
                        </li>
                        <li class="aui-list-item" onclick="openUIHistory('VolC','C相电压','V','line')">
                            <div class="aui-list-item-label-icon">
                                <i class="iconfont icon-dianya f1 c2"></i>
                            </div>
                            <div class="aui-list-item-inner aui-list-item-arrow">
                                <div class="aui-list-item-title">C相电压</div>
                                <div class="aui-list-item-right">{{zongheDatas.VolC}}V</div>
                            </div>
                        </li>
                        <li class="aui-list-item" onclick="openUIHistory('IA','A相电流','A','line')">
                            <div class="aui-list-item-label-icon">
                                <i class="iconfont icon-50 f1 c2"></i>
                            </div>
                            <div class="aui-list-item-inner aui-list-item-arrow">
                                <div class="aui-list-item-title">A相电流</div>
                                <div class="aui-list-item-right">{{zongheDatas.IA}}A</div>
                            </div>
                        </li>
                        <li class="aui-list-item" onclick="openUIHistory('IB','B相电流','A','line')">
                            <div class="aui-list-item-label-icon">
                                <i class="iconfont icon-50 f1 c2"></i>
                            </div>
                            <div class="aui-list-item-inner aui-list-item-arrow">
                                <div class="aui-list-item-title">B相电流</div>
                                <div class="aui-list-item-right">{{zongheDatas.IB}}A</div>
                            </div>
                        </li>
                        <li class="aui-list-item" onclick="openUIHistory('IC','C相电流','A','line')">
                            <div class="aui-list-item-label-icon">
                                <i class="iconfont icon-50 f1 c2"></i>
                            </div>
                            <div class="aui-list-item-inner aui-list-item-arrow">
                                <div class="aui-list-item-title">C相电流</div>
                                <div class="aui-list-item-right">{{zongheDatas.IC}}A</div>
                            </div>
                        </li>
                        <li class="aui-list-item" onclick="openUIHistory('ActivePower','有功功率','W','line')">
                            <div class="aui-list-item-label-icon">
                                <i class="iconfont icon-47 f1 c2"></i>
                            </div>
                            <div class="aui-list-item-inner aui-list-item-arrow">
                                <div class="aui-list-item-title">有功功率</div>
                                <div class="aui-list-item-right">{{zongheDatas.ActivePower}}kW</div>
                            </div>
                        </li>
                        <li class="aui-list-item" onclick="openUIHistory('ReactivePower','无功功率','kvar','line')">
                            <div class="aui-list-item-label-icon">
                                <i class="iconfont icon-47 f1 c2"></i>
                            </div>
                            <div class="aui-list-item-inner aui-list-item-arrow">
                                <div class="aui-list-item-title">无功功率</div>
                                <div class="aui-list-item-right">{{zongheDatas.ReactivePower}}kvar</div>
                            </div>
                        </li>
                        <li class="aui-list-item" onclick="openUIHistory('PowerRateC','功率因数','','line')">
                            <div class="aui-list-item-label-icon">
                                <i class="iconfont icon-49 f1 c2"></i>
                            </div>
                            <div class="aui-list-item-inner aui-list-item-arrow">
                                <div class="aui-list-item-title">功率因数</div>
                                <div class="aui-list-item-right">{{zongheDatas.PowerRateC}}</div>
                            </div>
                        </li>
                        <li class="whu-header">
                            {{area}}用电情况
                        </li>
                        <li class="aui-list-item" onclick="openUIHistory('ElecDay','用电量','kW·h','bar')">
                            <div class="aui-list-item-label-icon">
                                <i class="iconfont icon-68 f1 c2"></i>
                            </div>
                            <div class="aui-list-item-inner aui-list-item-arrow">
                                <div class="aui-list-item-title">本日已用电量</div>
                                <div class="aui-list-item-right">{{zongheDatas.ElecDay}}kW·h</div>
                            </div>
                        </li>
                        <li class="aui-list-item" onclick="openUIHistory('ElecMonth','用电量','kW·h','bar')">
                            <div class="aui-list-item-label-icon">
                                <i class="iconfont icon-68 f1 c2"></i>
                            </div>
                            <div class="aui-list-item-inner aui-list-item-arrow">
                                <div class="aui-list-item-title">本月已用电量</div>
                                <div class="aui-list-item-right">{{zongheDatas.ElecMonth}}kW·h</div>
                            </div>
                        </li>
                        <li class="aui-list-item" onclick="openUIHistory('Electricity','用电量','kW·h','bar')">
                            <div class="aui-list-item-label-icon">
                                <i class="iconfont icon-68 f1 c2"></i>
                            </div>
                            <div class="aui-list-item-inner aui-list-item-arrow">
                                <div class="aui-list-item-title">总用电量</div>
                                <div class="aui-list-item-right">{{zongheDatas.Electricity}}kW·h</div>
                            </div>
                        </li>
                        <li class="whu-header">
                            {{area}}补贴使用情况
                        </li>
                        <li class="aui-list-item">
                            <div class="aui-list-item-label-icon">
                                <i class="iconfont icon-butie f1 c2"></i>
                            </div>
                            <div class="aui-list-item-inner ">
                                <div class="aui-list-item-title">本日已用补贴</div>
                                <div class="aui-list-item-right">{{zongheDatas.SubsidyDay}}元</div>
                            </div>
                        </li>
                        <li class="aui-list-item">
                            <div class="aui-list-item-label-icon">
                                <i class="iconfont icon-butie f1 c2"></i>
                            </div>
                            <div class="aui-list-item-inner ">
                                <div class="aui-list-item-title">本月已用补贴</div>
                                <div class="aui-list-item-right">{{zongheDatas.SubsidyMonth}}元</div>
                            </div>
                        </li>
                        <li class="aui-list-item">
                            <div class="aui-list-item-label-icon">
                                <i class="iconfont icon-butie f1 c2"></i>
                            </div>
                            <div class="aui-list-item-inner ">
                                <div class="aui-list-item-title">总已用补贴</div>
                                <div class="aui-list-item-right">{{zongheDatas.SubsidySum}}元</div>
                            </div>
                        </li>
                        <li class="whu-header">
                            {{area}}电费统计
                        </li>
                        <li class="aui-list-item">
                            <div class="aui-list-item-label-icon">
                                <i class="iconfont icon-butie f1 c2"></i>
                            </div>
                            <div class="aui-list-item-inner ">
                                <div class="aui-list-item-title">本日预存电费</div>
                                <div class="aui-list-item-right">{{zongheDatas.PreSaveDay}}元</div>
                            </div>
                        </li>
                        <li class="aui-list-item">
                            <div class="aui-list-item-label-icon">
                                <i class="iconfont icon-butie f1 c2"></i>
                            </div>
                            <div class="aui-list-item-inner ">
                                <div class="aui-list-item-title">本月预存电费</div>
                                <div class="aui-list-item-right">{{zongheDatas.PreSaveMonth}}元</div>
                            </div>
                        </li>
                        <li class="aui-list-item">
                            <div class="aui-list-item-label-icon">
                                <i class="iconfont icon-butie f1 c2"></i>
                            </div>
                            <div class="aui-list-item-inner ">
                                <div class="aui-list-item-title">本年预存电费</div>
                                <div class="aui-list-item-right">{{zongheDatas.PreSaveYear}}元</div>
                            </div>
                        </li>
                        <li class="aui-list-item">
                            <div class="aui-list-item-label-icon">
                                <i class="iconfont icon-butie f1 c2"></i>
                            </div>
                            <div class="aui-list-item-inner ">
                                <div class="aui-list-item-title">总预存电费</div>
                                <div class="aui-list-item-right">{{zongheDatas.PreSaveSum}}元</div>
                            </div>
                        </li>
                        <li class="aui-list-item">
                            <div class="aui-list-item-label-icon">
                                <i class="iconfont icon-butie f1 c2"></i>
                            </div>
                            <div class="aui-list-item-inner ">
                                <div class="aui-list-item-title">本日消费电费</div>
                                <div class="aui-list-item-right">{{zongheDatas.ChargeDay}}元</div>
                            </div>
                        </li>
                        <li class="aui-list-item">
                            <div class="aui-list-item-label-icon">
                                <i class="iconfont icon-butie f1 c2"></i>
                            </div>
                            <div class="aui-list-item-inner ">
                                <div class="aui-list-item-title">本月消费电费</div>
                                <div class="aui-list-item-right">{{zongheDatas.ChargeMonth}}元</div>
                            </div>
                        </li>
                        <li class="aui-list-item">
                            <div class="aui-list-item-label-icon">
                                <i class="iconfont icon-butie f1 c2"></i>
                            </div>
                            <div class="aui-list-item-inner ">
                                <div class="aui-list-item-title">本年消费电费</div>
                                <div class="aui-list-item-right">{{zongheDatas.ChargeYear}}元</div>
                            </div>
                        </li>
                        <li class="aui-list-item">
                            <div class="aui-list-item-label-icon">
                                <i class="iconfont icon-butie f1 c2"></i>
                            </div>
                            <div class="aui-list-item-inner ">
                                <div class="aui-list-item-title">总消费电费</div>
                                <div class="aui-list-item-right">{{zongheDatas.ChargeSum}}元</div>
                            </div>
                        </li>
                        <li class="whu-header">
                            {{area}}-线损
                        </li>
                        <li class="aui-list-item">
                            <div class="aui-list-item-label-icon">
                                <i class="iconfont icon-68 f1 c2"></i>
                            </div>
                            <div class="aui-list-item-inner ">
                                <div class="aui-list-item-title">本日线损</div>
                                <div class="aui-list-item-right">{{zongheDatas.LossDay}}kW·h</div>
                            </div>
                        </li>
                        <li class="aui-list-item">
                            <div class="aui-list-item-label-icon">
                                <i class="iconfont icon-68 f1 c2"></i>
                            </div>
                            <div class="aui-list-item-inner ">
                                <div class="aui-list-item-title">本月线损</div>
                                <div class="aui-list-item-right">{{zongheDatas.LossMonth}}kW·h</div>
                            </div>

                        </li>
                        <li class="aui-list-item">
                            <div class="aui-list-item-label-icon">
                                <i class="iconfont icon-68 f1 c2"></i>
                            </div>
                            <div class="aui-list-item-inner ">
                                <div class="aui-list-item-title">总线损</div>
                                <div class="aui-list-item-right">{{zongheDatas.LossSum}}kW·h</div>
                            </div>

                        </li>
                        <li class="aui-list-item">
                            <div class="aui-list-item-label-icon">
                                <i class="iconfont icon-baifenbi f1 c2"></i>
                            </div>
                            <div class="aui-list-item-inner ">
                                <div class="aui-list-item-title">日损耗率</div>
                                <div class="aui-list-item-right">{{zongheDatas.LossRateDay}}%</div>
                            </div>
                        </li>
                        <li class="aui-list-item">
                            <div class="aui-list-item-label-icon">
                                <i class="iconfont icon-baifenbi f1 c2"></i>
                            </div>
                            <div class="aui-list-item-inner ">
                                <div class="aui-list-item-title">月损耗率</div>
                                <div class="aui-list-item-right">{{zongheDatas.LossRateMonth}}%</div>
                            </div>
                        </li>
                        <li class="aui-list-item">
                            <div class="aui-list-item-label-icon">
                                <i class="iconfont icon-baifenbi f1 c2"></i>
                            </div>
                            <div class="aui-list-item-inner ">
                                <div class="aui-list-item-title">总损耗率</div>
                                <div class="aui-list-item-right">{{zongheDatas.LossRateSum}}%</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/building.js"></script>
<script type="text/javascript" src="js/admin.js"></script>

<script type="text/javascript">

    function openUIHistory(Field, name, danwei, chartType) {

        TrunPage.setKeyValue("AccountType", zAccountType);
        TrunPage.setKeyValue("token", token);
        TrunPage.setKeyValue("Field", Field);
        TrunPage.setKeyValue("Area", area);
        TrunPage.setKeyValue("Building", building);
        TrunPage.setKeyValue("Unit", zhUnit);
        TrunPage.setKeyValue("unit", danwei);
        TrunPage.setKeyValue("chartType", chartType);
        TrunPage.setKeyValue("name", name);
        TrunPage.setKeyValue("userId", userId + "");
        TrunPage.openWebView("gyng/UI3Histroy.html", 1, "历史数据");
    }

    //作者：凌陈亮www.lingchenliang.com（QQ：57404811）
    autodivheight();

    function autodivheight() { //函数：获取尺寸
        //获取浏览器窗口高度
        var winHeight = 0;
        if (window.innerHeight)
            winHeight = window.innerHeight;
        else if ((document.body) && (document.body.clientHeight))
            winHeight = document.body.clientHeight;
        //通过深入Document内部对body进行检测，获取浏览器窗口高度
        if (document.documentElement && document.documentElement.clientHeight)
            winHeight = document.documentElement.clientHeight;
        //DIV高度为浏览器窗口的高度
        //document.getElementById("test").style.height= winHeight +"px";
        //DIV高度为浏览器窗口高度的一半
        // console.log(winHeight);
        var headerHeight = $("#header1").height();
        console.log(headerHeight);
        var trueHeight = winHeight - headerHeight;
        $("#spContent").height(trueHeight);
        $("body").height(winHeight);
        $("html").height(winHeight);
        $("#roomPage").height(trueHeight);
        $("#studentPage").height(trueHeight);
        $("#zonghePage").height(trueHeight);
        $("#swiperwapper").height(trueHeight);
    }

    window.onresize = autodivheight; //浏览器窗口发生变化时同时变化DIV高度
</script>

</body>

</html>
